/*
Implement your CSS code in this file. Do not change anything in any other file.
Only this will be graded.
*/

/* --- DESKTOP LAYOUT --- */

body {
    margin: 0 auto;
    width: 80%;
    font-family: "quicksand", "san-serif";
}

/* --- Header & Nav: beside each other --- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

nav {
    display: flex;
    gap: 20px;
}

/* --- mainBody: details --- */

div#mainBody {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 100px;
    margin-bottom: 50px;
}

div#rightContainer, #leftContainer {
    flex-basis: 50%;
}

/* --- rightContainer: grid details --- */

#rightContainer {
    grid-template-rows: repeat(3, 160px);
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
    "zero one two"
    "zero three four"
    "zero five six";
}

/* --- Assign Grid Area to Images --- */

.gridImage.zero {
  grid-area: zero;
}

.gridImage.one {
  grid-area: one;
}

.gridImage.two {
  grid-area: two;
}

.gridImage.three {
  grid-area: three;
}

.gridImage.four {
  grid-area: four;
}

.gridImage.five {
  grid-area: five;
}

.gridImage.six {
  grid-area: six;
}

/* --- TABLET LAYOUT --- */

@media (max-width: 1000px) {

    body {
        width: 80%;
    }

    div#mainBody {
        flex-direction: column;
        gap: 40px;
        align-items: stretch;
    }

    #rightContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 160px);
        grid-template-areas:
        "one two"
        "three four"
        "five six";
    }

/* --- Hide Image 0 --- */    

    .display_md {
        display: none;
    }

}


/* --- MOBILE LAYOUT --- */

@media (max-width: 570px) {

    body {
        width: 80%;
    }

}